<div>
	<h3>Teste de input type='number' com arrays e ngModel</h3>
</div>

<p>Input problemático:</p>
<input 
  *ngFor="let item of vetor; index as i" 
	type='number' 
	[(ngModel)]="vetor[i]" >

<br>
<br>

	<p>Input ok:</p>
	<input 
	  *ngFor="let item of vetor; index as i; trackBy trackByIndex" 
		type='number' 
		[(ngModel)]="vetor[i]"
		>
